<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="MailSMTPServer" value="eguide.mclaren.org" />
    <add key="StateLinkPhysicians" value="https://aca3.accela.com/MILARA/GeneralProperty/PropertyLookUp.aspx?isLicensee=Y&amp;TabName=Home"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" tagPrefix="ef" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
	<!--Live -->
    
	<add name="MHCC_MRIEntities" connectionString="metadata=res://*/Entities.MHCC_MRIEntityDataSet.csdl|res://*/Entities.MHCC_MRIEntityDataSet.ssdl|res://*/Entities.MHCC_MRIEntityDataSet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MHCCMSDB0006.mclaren.org;initial catalog=MHCC_MRI;persist security info=True;user id=sqlAdmin;password=phnsWeb08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MHCC_MRIEntities1" connectionString="metadata=res://*/Entities.MHCC_MRIEntities.csdl|res://*/Entities.MHCC_MRIEntities.ssdl|res://*/Entities.MHCC_MRIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MHCCMSDB0006.mclaren.org;initial catalog=MHCC_MRI;persist security info=True;user id=sqlAdmin;password=phnsWeb08;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
	<!--Test -->
	
	<!--<add name="MHCC_MRIEntities" connectionString="metadata=res://*/Entities.MHCC_MRIEntityDataSet.csdl|res://*/Entities.MHCC_MRIEntityDataSet.ssdl|res://*/Entities.MHCC_MRIEntityDataSet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MHCCMSDB0006.mclaren.org;initial catalog=MHCC_MRI_Test;persist security info=True;user id=sqlAdmin;password=phnsWeb08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MHCC_MRIEntities1" connectionString="metadata=res://*/Entities.MHCC_MRIEntities.csdl|res://*/Entities.MHCC_MRIEntities.ssdl|res://*/Entities.MHCC_MRIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MHCCMSDB0006.mclaren.org;initial catalog=MHCC_MRI_Test;persist security info=True;user id=sqlAdmin;password=phnsWeb08;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	
	  <add name="MHCC_EmailEntities" connectionString="metadata=res://*/Entities.EMailEntities.csdl|res://*/Entities.EMailEntities.ssdl|res://*/Entities.EMailEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MHCCMSDB0006.mclaren.org;initial catalog=MHCC_Email;persist security info=True;user id=sqlAdmin;password=phnsWeb08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>